<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
<body>
    <div class="blogs">
        <% if (blog.length > 0){ %>
            <% blog.forEach(blo => { %>
                <h3><%= blo.snippet %></h3>
        <% }); } %>
        <h3><%= blog.title %></h3>

        
        <a class="delete" data-doc="<%= blog._id %>">delete</a>
    </div>
</body>
<script>
//   const trash = document.querySelector('a.delete');

//   trash.addEventListener('click',(e) => {
//     const endpoint = `/blogs/${trash.dataset.doc}`;

//     fetch(endpoint,{
//         method: 'DELETE'
//     }).then(response => response.json())
//     .then(data => window.location.href = data.redirect)
//     .catch(err => console.log(err));
//   });


</script>
</html>